#logo {
  position: absolute;
  top: 1%;
  right:  1%;
  width: 23%;
  z-index: 999;
  margin-top: -10%;
  max-width: 100%;
  margin-right: -4%;
}

  body {
      font-family: 'Bakbak One', cursive;
      font-size: 19px;
      font-weight: 300;
      color: white;
      position: relative;
    }
    
    h1 {
      font-size: 2.8rem;
    }
    
    #tm-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(img/7-min-min.JPG);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
      transition: all 0.3s ease;
    }
    .row {
      margin-bottom: 15px;
    }
    
    p {
      font-size: 16px;
      line-height: 1.5;
    }
    
    @media (max-width: 767px) {
      p {
        font-size: 14px;
      }
    }
    
    #tm-bg:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    #tm-wrap {
      display: flex;
      align-items: center;
      height: 100%;
      min-height: 100vh;
    }
    
    p {
      line-height: 1.9;
      letter-spacing: 1px;
    }
    
    .tm-main-content {
      display: flex;
      align-items: center;
      padding: 50px 15px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: auto;
    }

    .tm-site-header-col {
      display: flex;
      align-items: center;
    }
    
    .tm-site-header {
      margin: 10px;
      text-align: right;
      width: 100%;
    }
    
    .tm-nav ul {
      padding-left: 0;
      display: block;
    }
    
    .tm-nav li {
      list-style: none;
      display: inline-block;
      border: 1px solid #D44444;
      margin: 10px;
    }
    
    .tm-nav-link {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 165px;
      height: 165px;
      text-align: center;
      border: 1px solid #6D2425;
      cursor: pointer;
      position: relative;
    }
    
    .tm-nav-text {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
    }
    
    .fa-3x {
      font-size: 2.5em;
    }
    
    .product {
      background: transparent;
      transition: all 0.3s ease;
    }
    
    .product:hover {
      background: #6D2425;
      color: #a9a9a9;
    }
    
    .tm-nav-icon {
      display: block;
      margin-bottom: 25px;
    }
    
  
    .tm-page-title {
      font-weight: 300;
    }
    .content {
      max-width: 370px;
    }
    .grid {
      display: flex;
      flex-wrap: wrap;
    }
    .grid__item {
      margin: 10px;
    }
    .product {
      position: relative;
      cursor: pointer;
    }
    
    .product__bg {
      width: 100%;
      height: 100%;
      top: 0px;
    }
    
    .product__bg,
    .product__description {
      opacity: 0;
      position: absolute;
    }
    
    .product__description {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
    }
    
    .tm-fa-close {
      font-size: 30px;
    }
    .video-wrapper {
      position: relative;
      padding-bottom: 56.25%; 
      margin-bottom: 20px;
    }
    
    .responsive-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    .video-caption {
      text-align: center;
      margin-top: 10px;
    }
    
    .details {
      font-size: 1rem;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      pointer-events: none;
      padding: 15px;
      display: none;
    }
    
    .details > * {
      position: relative;
      opacity: 0;
    }
    
    .details--open {
      pointer-events: auto;
    }
    
    .details__bg {
      width: 100%;
      max-width: 900px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    
    .details__bg--down {
      background: #6D2425;
    }
    
    .details__bg {
      padding: 50px;
      transform-origin: 0 0;
    }
    
    .details__close {
      position: absolute;
      top: 5px;
      right: 0;
      border: 0;
      background: none;
      margin: 1em;
      cursor: pointer;
      font-size: 0.85em;
      color: white;
      z-index: 1001;
    }
    
  
    .tm-reverse-sm {
      flex-direction: row;
    }
    
  
    .tm-slider-img-link {
      padding-left: 10px;
      padding-right: 10px;
    }
    
  
    .form-control {
      font-size: 1.1rem;
      border-radius: 0;
      border: none;
      background-color: #353541;
      color: white;
      padding: 0.75rem;
    }
    
    .form-control:focus {
      color: #cecece;
      background-color: #6D2425;
      border-color: transparent;
    }
    
    .tm-col-email {
      padding-left: 0;
    }
    
    .tm-btn-submit {
      background-color: #6D2425;
    }
    
    .tm-btn-gray {
      background-color: #494752;
      color: white;
    }
    
    .tm-btn-gray:hover {
      background-color: #77757d;
      color: white;
    }
    
    .btn {
      padding: 0.5rem 2.4rem;
      font-size: 1.2rem;
      border-radius: 0;
    }
    
    .btn-primary {
      border-color: transparent;
    }
    
    .btn-primary:hover {
      background-color: #6D2425;
      border-color: transparent;
    }
    
    

    .contact-form .row {
      margin-bottom: 15px;
    }
    
    .contact-form .form-group {
      margin-bottom: 15px;
    }
    
    @media (max-width: 767px) {
      .contact-form .form-group {
        width: 100%;
      }
    }
    
    .social-links {
      text-align: center;
    }
    
    .social-links a {
      display: block;
      margin-bottom: 10px;
    }
    